<mat-form-field appearance="standard" class="search-bar">
  <mat-label>Search with name or id</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. sta" #input>
</mat-form-field>
<table matSortActive="id" matSortDirection="asc" mat-table matSort [dataSource]="data" class="mat-elevation-z8 full-width">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell mat-sort-header sortActionDescription="Sort by ID" *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell mat-sort-header sortActionDescription="Sort by Name" *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="handleClickRow(row)"></tr>
</table>
